{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "@eslint-kit/patch",
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/prettier"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/ban-ts-comment": "off",
    "import/no-unresolved": "off"
  }
}
